body
{
    color: black;
    text-align: right;
    font-family: 'Trebuchet MS';
}
#container
{
    width: 70;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}
